.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb, #553c9a);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-button {
  min-width: 100px;
  min-height: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding-left: 10px;
}

.input {
  border: none;
  border-radius: 1000px;
  border: none;
  min-width: 300px;
  min-height: 30px;
}




button {
  padding: 8px;
}

input {
  padding: 8px;
  outline: none;
}